@import url(./root.css);

@keyframes jump {
    0% {
        bottom: var(--playerCurrentY);
    }

    50% {
        bottom: var(--jumpHeight);
    }

    100% {
        bottom: var(--playerCurrentY);
    }
}